body { 
	background-image: url('http://imageshack.us/a/img339/5885/backgroundbn.jpg'); 
} 

#albumart { 
	height: 300px; 
	width: 300px;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

#albumart:hover { 
	border: 2px solid #ADADAD;
	
} 

#title { 
	font-size: 100px;
}

#subtitle { 
	font-size: 50px;
}

#sectiontitle { 
	font-size: 40px;
} 

#description { 
	font-size: 25px;
	letter-spacing: 5px;
}  

h1, 
h2, 
h3 { 
	color: #DBDBDB;
	letter-spacing: 10px;
	text-shadow: 2px 2px 2px #ADADAD;
	line-height: 150%;
}

h1, 
h2,
h3,
p, 
a
{ 
	font-family: 'Just Another Hand', cursive;
	text-align: center;
}

p, 
a { 
	color: #DBDBDB;
	letter-spacing: 10px;
	text-shadow: 2px 2px 2px #ADADAD;
	line-height: 200%;
}    

a { 
	text-decoration: none; 
} 

a:hover { 
	text-shadow: 2px 2px 2px black;
} 
