body { 
	background-image: url('http://imageshack.us/a/img339/5885/backgroundbn.jpg'); 
	background-attachment: fixed; 
} 

header { 
	margin-bottom: 10px;
} 

nav { 
	text-align: center;
} 

header #navitem {
	font-size: 30px;
	letter-spacing: 2px;
	word-spacing: 15px;
}

footer { 
	width: 300px;
	height: 150px;
	clear: both;
	text-align: center;
	margin-left: auto;
	margin-right: auto; 
	padding-top: 30px;
} 

#albumart { 
	height: 300px; 
	width: 300px;
	display: block;
	clear: both;
	margin-top: 50px;
	margin-left: auto; 
	margin-right: auto;
	border: 2px solid black;	
}

#albumart:hover { 
	border: 2px solid #ADADAD;	
} 

#albumtitle { 
	letter-spacing: 1px;
	line-height: 100%;
}

#oneway { 
	display: block; 
	width: 70%;
	margin-left: auto; 
	margin-right: auto;
}

#bandphoto { 
	padding: 
	height: 200px; 
	width: 300px;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}



#title { 
	text-align: center; 
	line-height: 100%;
}

#subtitle { 
	font-size: 50px;
}

#sectiontitle { 
	font-size: 40px;
} 

#description { 
	font-size: 30px;
	letter-spacing: 5px;
}

footer #bottomlink { 
	text-align: center;
	font-size: 10px; 
	letter-spacing: 2px; 
}

footer #ftext { 
	letter-spacing: 2px;
} 

#selfpromotion { 
	font-size: 10px;
	letter-spacing: 2px; 
	text-shadow: 0px 0px 0px white;
} 



#pushdown { 
	display: block;
	top: 20px;
}

.navsel { 
	color: black;
	text-shadow: 1px 1px 1px #587dea;
}

.navsel:hover { 
	color: black;
	text-shadow: 1px 1px 1px #587dea;
}

.background { 
	color: black;
}

.biglist { 
	font-size: 30px;
}

.initblank { 
	display: none; 
} 

.lyrics { 
	font-size: 25px;
	letter-spacing: 1px; 
	word-spacing: 2px;
	line-height: 200%;
	margin-bottom: 20px;
} 

.lyricblock { 
	margin-top: 20px;
	margin-bottom: 20px;
} 

.lyricblock:hover { 
	
}

.padded {
	padding: 20px;
}

.seperate { 
	word-spacing: 20px;
}

.spacetoright { 
	margin-right: 20px;
} 

ul { 
	list-style-type: none;
}

li { 
	display: block;
	letter-spacing: 2px;
	height: 30px;
}

li:hover { 
	color: #587dea;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
	font-family: 'Port Lligat Sans', cursive;
	color: #e7edff;
}  

h1, 
h2, 
h3 { 
	letter-spacing: 10px;
	text-shadow: 2px 2px 2px #ADADAD;
}

h1, 
h2,
h3,
h4, 
li,
p, 
a
{ 
	text-align: center;
}

p,
a {
	font-size: 30px;
	letter-spacing: 5px;
	line-height: 125%;
}

p { 
	text-shadow: 2px 2px 2px #ADADAD;
}    

a { 
	text-decoration: none; 
	letter-spacing: 5px;
	text-shadow: 2px 2px 2px #587dea;
} 

a:hover { 
	color: #587dea;
	text-shadow: 2px 2px 2px black;
} 
